@model TaxiPro.Models.Student
@{
    ViewData["Title"] = "CourseComplete";
}

<h2>Congratulations, @Model.FirstName @Model.LastName</h2>

<p>You have completed the TaxiPro Course. Please return to the front desk and let the attendant know that you have finished.</p>
<a asp-controller="Student" asp-action="Index">Back to List</a>

