@model TaxiPro.Models.ViewModels.TestSetViewModel
@{
    ViewData["Title"] = "VideoView";
}

@foreach(var vid in Model.Videos)
{
    <div>
        <h3>@vid.Name</h3>
            <video width="680" height="400" src="/@vid.URL" controls> @vid.Name </video>
    </div>

}

