body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, .4);
    color: white;
    text-align: center;
}

.section {
    border-bottom: 1px solid lightgrey;
    margin: 3px;
    padding: 3px;
}

.button {
    background-color:#030b54;
    border-radius: 5px;
    color: aliceblue;
    
}

.homeLogo {
    color: aliceblue;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.homeLogo:hover{
    color:white;
    text-decoration: none;
}

.correctAnswer {
    background-color: rgba(76, 255, 0, .4); 
}

.wrongAnswer {
    background-color: rgba(255, 0, 0, .4);
}

div.qset {
    margin: 5px;
    padding: 5px;
}

div.qset, div {
    margin: 2px;
    padding: 2px;
}

.navbar-inverse {
    background-color: #030b54;
    border-color: #080808;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #030b54
}

.navbar-default .navbar-brand {
    color: aliceblue;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: aliceblue;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: aliceblue;
}

.navbar-inverse .navbar-link {
    color: aliceblue;
}

.navbar-inverse .btn-link {
    color: aliceblue;
}

.navbar-inverse .navbar-text {
    color: aliceblue;
}

.navbar-inverse .navbar-nav > li > a {
    color: aliceblue;
}

/* Carousel */
.carousel-caption p {
font-size: 20px;
line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
